/*--------------------------------------------------------------
15. Media queries
--------------------------------------------------------------*/

@media only screen and (min-width : 1600px) {
	.container{
    	max-width: 1280px;
	}
}

@media only screen and (max-width: 1600px) {
	p {
	    font-size: 18px;
	    line-height: 35px;
	}
	.ft-25 {
	    font-size: 22px;
	    line-height: 35px;
	}
	.theme-btn {
	    font-size: 22px;
	    line-height: 35px;
	    padding: 13px 30px;
	}
	.title {
	    font-size: 30px;
	    line-height: 40px;
	    margin-bottom: 25px;
	}
	.big-title {
	    font-size: 37px;
	    line-height: 47px;
	}
	.expeirence-box {
    	padding: 2rem 0px;
	}
	.footer-title{
	    font-size: 22px;
	    line-height: 35px;
   	}
   	.h-logo{
	    height: 90px;
	    width: auto;
	}
	.navbar-light .navbar-nav .nav-link {
    	padding-top: 60px;
    	padding-bottom: 60px;
	}
	.nav-link-btn.theme-btn{
        font-size: 17px;
    }
	.hero-sec-div{
    	min-height: calc(100vh - 160px);
	}
	.hero-title{
	    font-size: 75px;
	    line-height: 70px;
	}
	.hero-small-text{
	    font-size: 50px;
	    line-height: 45px;
	}
	.white-shadow-box .ft-25 {
	    font-size: 21px;
	    line-height: 33px;
	}
	.thumbnail-carousel{
    	border-bottom: 20px solid #282828;
	}
	.port-main-img{
	    height: 800px;
	}
	.port-thumbnail-img{
	    height: 160px;
	}
}

@media only screen and (max-width: 1400px) {
	.sec-pad{
    	padding: 80px 0px; 
	}
	.title {
	    font-size: 27px;
	    line-height: 37px;
	    margin-bottom: 20px;
	}
	.big-title {
	    font-size: 35px;
	    line-height: 45px;
	}
	.white-border-box {
	    border: 4px solid #545050;
	    padding: 20px;
	}
	.work-img-box {
	    max-width: 520px;
	    height: 520px;
	}
	.testimonial-box {
	    padding: 25px 20px 10px 90px;
	}
	.navbar-light .navbar-nav .nav-link {
    	padding-top: 45px;
    	padding-bottom: 45px;
	}
	.h-logo{
	    height: 80px;
	    width: auto;
	}
	.hero-sec-div{
    	min-height: calc(100vh - 130px);
	}
	.portfolio-hero-sec{
	    height: 350px;
	}
	.icon-text-list-box{
    	padding: 20px 15px;
    }
	.list-icon-div{
	    min-width: 75px;
	    margin-right: 20px;
	}
	.thumbnail-carousel{
    	border-bottom: 15px solid #282828;
	}
	.flex-wrap-div {
    	gap: 12px;
	}
	.carousel-cell .port-main-img{
	    height: 600px;
		width: 100%; /* Adjusted width for smaller screens */
		background-position: 50% center; 
	}
	.carousel-cell .port-thumbnail-img{
	    height: 120px;
	}
}

@media only screen and (max-width: 1200px) {
	.title {
	    font-size: 25px;
	    line-height: 35px;
	    margin-bottom: 20px;
	}
	.big-title {
	    font-size: 32px;
	    line-height: 42px;
	}
	.theme-btn {
	    font-size: 20px;
	    line-height: 32px;
	    padding: 13px 30px;
	}
	.hero-sec-div{
    	min-height: calc(100vh - 90px);
	}
	.portfolio-hero-sec{
	    height: 300px;
	}
	.hero-title{
	    font-size: 65px;
	    line-height: 60px;
	    letter-spacing: 1px;
	}
	.hero-small-text{
	    font-size: 40px;
	    line-height: 35px;
	    letter-spacing: 10px;
	}
	.header{
    	padding: 15px 0px;
	}
	.h-logo{
	    height: 60px;
	    width: auto;
	}
	.nav-link-btn.theme-btn{
		position: relative;
        top: 0px;
        right: 0px;
        left: 0px;
    }
	.navbar-nav {
    	padding: 10px 20px 20px;
	}
	.navbar-collapse {
	    background-color: #f6f6f4;
	    position: absolute;
	    width: 100%;
	    top: 75px;
	    left: 0px;
	    right: 0px;
	    z-index: 100;
	}
	.navbar-expand-xl .navbar-nav .nav-item{
		display: inline-block;
		width: 100%;
		padding: 0px;
	}
	.header .navbar-light .navbar-nav .nav-link {
	    margin: 0px;
	    display: inline-block;
    	padding: 5px 0px!important;
    	text-align: left;
    	font-size: 18px;
    	line-height: 35px;
	}
	.nav-link-btn {
		display: inline-block;
	    margin-left: 0px;
	    margin-top: 5px;
	    padding: 6px 25px!important;
        font-size: 18px;
    	line-height: 30px;
	}
	.nav-link::before, .nav-item.active .nav-link::before {
	    height: 2px; 
	}
	.dropdown-item {
	    font-size: 18px;
	    line-height: 35px;
	    padding: 4px 30px;
	    letter-spacing: 1px;
	}
	.dropdown-menu {
	    background-color: transparent!important;
	    padding: 5px 0px;
	    box-shadow: none;
	}
	.about-content-before-box::before{
		display: none;
	}
	.about-content-box-pad {
		background-color: #fff;
    	padding: 40px!important;
	}
	.about-person-img {
	    position: relative;
	    top: auto;
	    bottom: 0px;
	}
	.icon-text-list-box{
    	padding: 20px 0px;
    }
    .flex-wrap-div {
    	gap: 20px;
	}
	.carousel-cell .port-main-img{
	    height: 500px;
	}
	.carousel-cell .port-thumbnail-img{
	    height: 100px;
	}
}

@media only screen and (max-width: 991px) {
 	.sec-pad{
    	padding: 60px 0px; 
	}
	.owl-nav button i {
    	font-size: 45px;
	}
	.owl-carousel button.owl-dot span {
	    height: 12px;
	    width: 12px;
	}
	.hero-sec-div {
    	min-height: 400px;
	}
	.hero-title{
	    font-size: 65px;
	    line-height: 60px;
	    letter-spacing: 1px;
	}
	.hero-small-text{
	    font-size: 40px;
	    line-height: 35px;
	    letter-spacing: 10px;
	}
	.contact-map iframe{
		height: 400px;
	}
	.thumbnail-carousel{
	    margin-top: 15px;
	}
	.flex-wrap-div {
    	gap: 15px;
	}
	.carousel-cell .port-main-img{
	    height: 450px;
	}
	.carousel-cell .port-thumbnail-img{
	    height: 80px;
	}
}
@media only screen and (max-width: 767px) {
	.ft-25 {
	    font-size: 20px;
	    line-height: 30px;
	}
	.ft-18{
	    font-size: 16px;
	    line-height: 26px;   
	}
 	.title {
	    font-size: 22px;
	    line-height: 32px;
	    margin-bottom: 15px;
	}
	.big-title {
	    font-size: 28px;
	    line-height: 38px;
	    margin-bottom: 25px;
	}
	.theme-btn {
	    font-size: 20px;
	    line-height: 32px;
	    padding: 13px 30px;
	}
	.test-quote {
	    position: relative;
	    display: inline-block;
	}
	.testimonial-box {
    	padding: 0px;
	}
	.work-img-box {
	    max-width: 450px;
	    height: 450px;
	}
	.expeirence-box {
    	padding: 1.5rem 0px;
	}
	.footer-title{
	    font-size: 20px;
	    line-height: 30px;
   	}
   	.hero-sec-div {
    	min-height: 300px;
	}
	.portfolio-hero-sec{
	    height: 200px;
	}
	.hero-title{
	    font-size: 50px;
	    line-height: 50px;
	    letter-spacing: 0px;
	}
	.hero-small-text{
	    font-size: 35px;
	    line-height: 35px;
	    letter-spacing: 5px;
	}
	.about-content-box-pad {
	    padding: 25px!important;
	}
	.icon-text-list-box{
    	padding: 10px 0px;
    }
	.list-icon-div{
	    min-width: 50px;
	    margin-right: 15px;
	}
	.white-shadow-box-margin {
    	margin-bottom: 20px;
	}
	.white-shadow-box .ft-25 {
	    font-size: 20px;
	    line-height: 30px;
	}
	.form-group {
	    margin-bottom: 25px;
	}
	.form-control {
	    font-size: 20px;
	    line-height: 30px;
	}
	.contact-map iframe{
		height: 300px;
	}
	.thumbnail-carousel{
	    margin-top: 10px;
	    border-bottom: 10px solid #282828;
	}
	.flickity-prev-next-button svg {
	    width: 30px;
	    height: 30px;
	}
	.flickity-prev-next-button.previous {
	    left: 10px;
	}
	.flickity-prev-next-button.next {
	    right: 10px;
	}
	.flex-wrap-div {
    	gap: 8px;
	}
	.carousel-cell .port-main-img{
	    height: 350px;
	}
	.carousel-cell .port-thumbnail-img{
	    height: 60px;
	}
	
}
@media (min-width: 992px){

}

@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 640px) {
  

}
    

@media only screen and (max-width: 575px) {
	.sec-pad{
    	padding: 50px 0px; 
	}
	p {
	    font-size: 16px;
	    line-height: 30px;
	}
	.ft-18{
	    font-size: 14px;
	    line-height: 24px;
	}
	.ft-25 {
	    font-size: 18px;
	    line-height: 28px;
	}
	.title {
	    font-size: 19px;
	    line-height: 28px;
	}
	.big-title {
	    font-size: 24px;
	    line-height: 34px;
	    margin-bottom: 20px;
	}
	.white-border-box {
	    border: 3px solid #545050;
	    padding: 15px;
	}
	.theme-btn {
	    font-size: 18px;
	    line-height: 30px;
	    letter-spacing: 1px;
	    padding: 10px 25px;
	}
	.work-img-box {
	    max-width: 450px;
	    height: 350px;
	}
	.footer{
    	padding: 40px 0px 10px;
	}
	.footer-title{
	    font-size: 18px;
	    line-height: 28px;
	    margin-bottom: 15px;
   	}
   	.hero-sec-div {
    	min-height: 250px;
	}
	.hero-title{
	    font-size: 40px;
	    line-height: 40px;
	}
	.hero-small-text{
	    font-size: 25px;
	    line-height: 25px;
	}
	.about-content-box-pad {
	    padding: 20px 15px!important;
	}
	.icon-text-list-box{
    	padding: 5px 0px;
    }
    .form-group {
	    margin-bottom: 20px;
	}
    .form-control {
	    font-size: 18px;
	    line-height: 28px;
	    padding: 12px 15px;
	}
	.carousel-cell .port-main-img{
	    height: 250px;
	}
	.carousel-cell .port-thumbnail-img{
	    height: 45px;
	}
}
@media (min-width: 576px){

}

@media only screen and (max-width: 480px) {
  
}
@media only screen and (max-width: 400px) {

}
@media screen and (max-width: 375px){

}
@media screen and (max-width: 321px){

}







